*{font-family: 'Playfair Display', serif;}

body {
    background-color: #000;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    cursor: pointer;
    text-decoration: none;
}

.page-content {
    margin-top: -2%;
}

.mdl-navigation__link:hover {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation-bar {
    /*font: 400 16px Open Sans, Arial, Helvetica, sans-serif;*/
    /*font-family: "DIN Alternate", sans-serif;*/
    font-family: 'Playfair Display', serif;
}

.navigation-bar a {
    font-size: 16px;
    font-weight: bold;
}

.gold-gradient {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gold-gradient h1 {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: 'Playfair Display', serif;
    position: relative;
    /*font-size: 18vw;*/
    margin: 0;
    font-weight: 400;
}

.gold-gradient h1:after {
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow:
            -1px 0 1px #c6bb9f,
            0 1px 1px #c6bb9f,
            5px 5px 10px rgba(0, 0, 0, 0.4),
            -5px -5px 10px rgba(0, 0, 0, 0.4);
}

/* Home */
.landing-grid {
    text-align: -moz-center;
    text-align: -webkit-center;
}

.is-small-screen .landing-cell {
    border: 6px solid;
    border-image-source: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
    border-image-slice: 1;
}

.banner-text {
    text-align: center;
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 50%;
    margin-top: 5%;
}

.is-small-screen .banner-text {
    width: 100%;
    border-radius: 0;
}

.banner-text img {
    border-radius: 50%;
    width: 30%;
    margin-top: 2%;
}

.banner-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: auto;
}

.banner-text hr {
    margin: auto;
    border-top: 5px dotted lightblue;
    width: 50%;
}

.banner-text p {
    font-size: 20px;
    color: #f2f3f7;
    padding: 1em;
}

.my-social-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.icon-circle-background {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 50%;
}

.fa-facebook:hover {
    background: #ffffff;
    transition: fill 170ms ease-in-out 0s;
    fill: rgb(59, 89, 152);
}

.fa-twitter:hover {
    background: #ffffff;
    transition: fill 170ms ease-in-out 0s;
    fill: rgb(0, 172, 237);
}

.fa-instagram:hover {
    background: #ffffff;
    transition: fill 170ms ease-in-out 0s;
    fill: rgb(63, 114, 155);
}

.fa-github:hover {
    background: #ffffff;
    transition: fill 170ms ease-in-out 0s;
    fill: rgb(0, 0, 0);
}

.fa-linkedin:hover {
    background: #ffffff;
    transition: fill 170ms ease-in-out 0s;
    fill: rgb(14, 118, 168);
    display: inline-block;
    vertical-align: middle;
}

.fa-chevron-down {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

/* About */
.about-page {
    background-color: #fff;
}
